@using WOS.Model;

@model ProductsListViewModel

<div class="products">
    @foreach (var produit in Model.Produits)
    {
        ProduitTaille productWithPromo = produit.ProduitTailles
        .Where(t => t.PrixPromo != null)
        .OrderBy(t => t.PrixPromo)
        .FirstOrDefault() ?? produit.ProduitTailles.OrderBy(t => t.Prix).First();

        <a href="@Url.Action("ViewProduct", "Product", new { id = produit.Id })" class="product">
            <div class="product-img">
                <img src="@Url.Content(produit.ProduitImages.FirstOrDefault(i => i.Principale)?.Url ?? "~/images/default.jpg")" alt="@produit.Nom" />
            </div>
            <div class="product-info">
                <p class="product-name">@produit.Nom</p>
                <div class="prices">
                    @if (productWithPromo.PrixPromo != null)
                    {
                        <p>à partir de <span class="price">@productWithPromo.PrixPromo.Value.ToString("C")</span> <span class="old-price">@productWithPromo.Prix.ToString("C")</span></p>
                    }
                    else
                    {
                        <p>à partir de <span class="price">@productWithPromo.Prix.ToString("C")</span></p>
                    }
                </div>
            </div>
        </a>

    }
</div>
<div class="select-pages">
    <!-- Bouton précédent -->
    <a href="#" class=" chevron pagination-link @(Model.Pagination.Page == 1 ? "disabled" : "")" data-page="@(Model.Pagination.Page - 1)">
        <i class="bi bi-chevron-left"></i>
    </a>

    @for (int i = 1; i <= Model.Pagination.NbPages; i++)
    {
        if (i == 1 || i == Model.Pagination.NbPages || Math.Abs(i - Model.Pagination.Page) <= 1)
        {
            if (i == Model.Pagination.Page)
            {
                <a href="#" class="number-link pagination-link active" data-page="@i">@i</a>
            }
            else
            {
                <a href="#" class="number-link pagination-link" data-page="@i">@i</a>
            }
        }
        else if (i == Model.Pagination.Page - 2 || i == Model.Pagination.Page + 2)
        {
            <span>...</span>
        }
    }

    <!-- Bouton suivant -->
    <a href="#" class="pagination-link @(Model.Pagination.Page == Model.Pagination.NbPages ? "disabled" : "")" data-page="@(Model.Pagination.Page + 1)">
        <i class="bi bi-chevron-right"></i>
    </a>
</div>
