<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/panier/cart.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
</head>

@using WOS.Model;
@{
    var cartCookie = Context.Request.Cookies["Cart"];
    var cartItemCount = 0;
    List<CartItem> cartItems = new List<CartItem>();

    if (!string.IsNullOrEmpty(cartCookie))
    {
        cartItems = System.Text.Json.JsonSerializer.Deserialize<List<CartItem>>(cartCookie);
        cartItemCount = cartItems.Sum(item => item.Quantity);
    }
}

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div class="sections">
                        <div class="pages">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link nav-pages text-dark" asp-area="" asp-controller="Home" asp-action="Index">Accueil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link nav-pages text-dark" asp-area="" asp-controller="Product" asp-action="Index">Sneakers</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link nav-pages text-dark" asp-area="" asp-controller="Question" asp-action="Index">FAQ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link nav-pages text-dark" asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link nav-pages text-dark" asp-area="" asp-controller="Newsletter" asp-action="Index">Mails</a>
                                </li>
                            </ul>
                        </div>
                        <div class="logo">
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/src/WosLogos/logoWosSneakers.png" /></a>
                        </div>
                    </div>
                    <div class="user-space">
                        <ul class="user-nav navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <form method="post" class="formSearch" asp-controller="Chaussure" asp-action="SearchSneakers">
                                    <input type="search" name="search" class="searchSneakers" id="search" placeholder="Rechercher" />
                                    <a class="nav-link btnSearch"><i class="bi iconSearch bi-search"></i></a>
                                </form>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><i class="bi bi-heart"></i></a>
                            </li>
                            <li class="nav-item">
                                <a id="cart-icon" class="nav-link text-dark">
                                    <i class="bi bi-bag"></i>
                                    <span id="cart-count" class="cart-count">@cartItemCount</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index"><i class="bi bi-person"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        <div id="cart-modal" class="cart-modal">
            <div class="cart-modal-content">
                <div class="cart-header">
                    <h3>Votre panier</h3>
                    <button id="close-cart" class="close-cart-btn">&times;</button>
                </div>
                <div class="cart-items">
                    @if (cartItems.Count() > 0)
                    {
                        foreach (var item in cartItems)
                        {
                            <div class="cart-item" data-product-id="item-@item.ProductId" data-size="@item.Size">
                                <img src="@Url.Content(@item.ImageUrl)" alt="@item.Name" class="cart-item-image" />
                                <div class="cart-item-details">
                                    <p class="cart-item-name">@item.Name</p>
                                    <div class="item-infos">
                                        <p class="cart-item-price">Taille: @item.Size</p>
                                    </div>
                                    <div class="cart-item-quantity">
                                        <div class="quantity-zone">
                                            <label for="quantity-@item.ProductId">Quantité :</label>
                                            <select id=" quantity-@item.ProductId" data-size="@item.Size" data-product-id="@item.ProductId" class="quantity-input">
                                                @for (int i = 0; i <= 15; i++)
                                                {
                                                    @if (i == 1)
                                                    {
                                                        <option value="@i" selected>@i</option>
                                                    }
                                                    else if (i == item.Quantity)
                                                    {
                                                        <option value="@i" selected>@i</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <p class="cart-item-price">@item.Price.ToString("C")</p>
                                    </div>
                                </div>
                                <i class="bi bi-trash remove-btn" data-product-id="@item.ProductId" data-size="@item.Size"></i>
                            </div>
                        }
                    }
                    else
                    {
                        <p class="empty-cart">Votre panier est vide.</p>
                    }
                </div>
                <div class="cart-footer">
                    <button class="btn confirm-btn">Voir le panier</button>
                </div>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - WOS.Front - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

@* <div id="cookieModal" class="cookie-modal">
    <div class="cookie-modal-content">
        <p>Ce site utilise des cookies pour améliorer votre expérience. Acceptez-vous ?</p>
        <button onclick="handleCookieConsent(true)">Accepter</button>
        <button onclick="handleCookieConsent(false)">Refuser</button>
    </div>
</div> *@

<script>
    $(".btnSearch").click(function () {
        let inputSearch = $(".searchSneakers");
        let iconSearch = $(".iconSearch");
        if (!inputSearch.hasClass("visible")) {
            inputSearch.removeClass("closing");
            inputSearch.addClass("visible");
            inputSearch.focus();
            iconSearch.removeClass("bi-search");
            iconSearch.addClass("bi-x-lg");
        } else {
            if (inputSearch.val().trim() !== "") {
                $(".formSearch").submit();
            } else {
                inputSearch.removeClass("visible");
                inputSearch.addClass("closing");
                iconSearch.removeClass("bi-x-lg");
                iconSearch.addClass("bi-search");
            }
        }
    });

    function changeIcon() {
        let inputSearch = $(".searchSneakers");
        let iconSearch = $(".iconSearch");
        if (inputSearch.val() == "") {
            iconSearch.removeClass("bi-search");
            iconSearch.addClass("bi-x-lg");
        } else {
            iconSearch.removeClass("bi-x-lg");
            iconSearch.addClass("bi-search");
        }
    }

    $(".searchSneakers").on("input", changeIcon);
    $(".searchSneakers").on("focusout", changeIcon);
</script>

<script>
    $(document).ready(function () {
        // Affiche le modal
        $('#cart-icon').click(function () {
            $('#cart-modal').css('right', '0');
        });

        // Ferme le modal
        $('#close-cart').click(function () {
            $('#cart-modal').css('right', '-100%');
        });

        $('.quantity-input').change(function () {
            const productId = $(this).data('product-id');
            // On récupère la taille du produit
            const size = $(this).data('size');
            const newQuantity = $(this).val();

            console.log(newQuantity);

            // Si la quantité est 0, supprimer l'article
            if (newQuantity == 0) {
                $.ajax({
                    url: '/Panier/DeleteInCart',
                    type: 'POST',
                    data: { productId: productId, size: size },
                    success: function () {
                        $(`[data-product-id="item-${productId}"][data-size="${size}"]`).remove();

                        // On compte le nombre de produits restant
                        const cartItemCount = $('.cart-item').length;
                        $('#cart-count').text(cartItemCount);
                    },
                    error: function () {
                        alert("Impossible de supprimer l'article.");
                    }
                });
            }
            else {
                $.ajax({
                    url: '/Panier/UpdateQuantity',
                    type: 'POST',
                    data: { productId: productId, size: size, quantity: newQuantity },
                    success: function () {

                        // On compte le nombre de produits restant
                        const cartItemCount = $('.cart-item').length;
                        $('#cart-count').text(cartItemCount);
                    },
                    error: function () {
                        alert("Impossible de supprimer l'article.");
                    }
                });
            }
        });

        // Supprimer un article directement
        $(document).on('click', '.remove-btn', function () {
            const productId = $(this).data('product-id');
            const size = $(this).data('size');

            console.log($(this));
            $.ajax({
                url: '/Panier/DeleteInCart',
                type: 'POST',
                data: { productId: productId, size: size },
                success: function () {
                    $(`[data-product-id= "item-${productId}"][data-size="${size}"]`).remove();

                    const cartItemCount = $('.cart-item').length;
                    $('#cart-count').text(cartItemCount);
                },
                error: function () {
                    alert("Impossible de supprimer l'article.");
                }
            });
        });

        // Valider le panier
        $('.cart-footer .confirm-btn').click(function () {
            const cartItems = $('.cart-item').map(function () {
                let productId = $(this).data('product-id').replace('item-', '');
                let size = $(this).data('size');
                let quantity = $(this).find('.quantity-input').val();

                productId = parseInt(productId);
                quantity = parseInt(quantity);
                size = size.toString();

                return {
                    productId: productId,
                    size: size,
                    quantity: quantity
                };
            }).get();

            $.ajax({
                url: '/Panier/ViewCart',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(cartItems),
                success: function (response) {
                    // Redirige vers une autre page ou affiche les données
                    window.location.href = '/Panier/Display';
                },
                error: function (err) {
                    console.error('Error:', err);
                }
            });
        });
    });

</script>

<script>
    // document.addEventListener("DOMContentLoaded", function () {
    //     if (!getCookie("cookiesAccepted")) {
    //         document.getElementById("cookieModal").style.display = "flex";
    //     }
    // });

    function handleCookieConsent(consent) {
        setCookie("cookiesAccepted", consent, 365);
        saveConsent(consent);
        document.getElementById("cookieModal").style.display = "none";
    }

    function saveConsent(consent) {
        fetch("/Account/SaveConsent", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(consent.toString())
        });
    }

    function setCookie(name, value, days) {
        let d = new Date();
        d.setTime(d.getTime() + (days * 24 * 60 * 60 * 1000));
        document.cookie = name + "=" + value + "; expires=" + d.toUTCString() + "; path=/";
    }

    function getCookie(name) {
        let match = document.cookie.match(new RegExp("(^| )" + name + "=([^;]+)"));
        return match ? match[2] : null;
    }
</script>
