@using WOS.Model;

@model List<Client>;

@{
    ViewData["Title"] = "Home Page";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/loaders/GLTFLoader.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/OrbitControls.js"></script>
<link rel="stylesheet" href="~/css/accueil.css" asp-append-version="true" />

<div class="content">
    <div class="homescreen">
        <div class="logoWos">
            <div class="chaussure" id="chaussure-gauche"></div>
            <div class="chaussure" id="chaussure-centre"></div>
            <img class="logoPrincipal" src="~/src/WosLogos/LogoWosArgent.png" />
            <div class="chaussure" id="chaussure-droite"></div>
        </div>
    </div>
</div>

<form method="post" asp-controller="Home" asp-action="AddClient">
    <label for="nom">Nom : </label>
    <input type="text" name="nom" id="nom" />
    <br />
    <label for="prenom">Prénom : </label>
    <input type="text" name="prenom" id="prenom" />
    <br />
    <label for="email">Email : </label>
    <input type="email" name="email" id="email" />
    <br />
    <label for="password">Mot de passe : </label>
    <input type="password" name="password" id="password" />
    <br />
    <input type="submit" value="Ajouter" />
</form>

<table>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
    </tr>
    @if(Model.Count > 0)
    {
        @foreach (var client in Model)
        {
            <tr>
                <td>@client.Nom</td>
                <td>@client.Prenom</td>
                <td>@client.Email</td>
            </tr>
        }
    }
</table>
<!-- On test l'authentification avec les claims -->
@if(User.Claims.Count() > 0)
{
    <h1>Claims</h1>
    <table>
        <tr>
            <th>Type</th>
            <th>Valeur</th>
        </tr>
        @foreach (var claim in User.Claims)
        {
            <tr>
                <td>@claim.Type</td>
                <td>@claim.Value</td>
            </tr>
        }
    </table>
}

@if(User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>
    <a asp-controller="Account" asp-action="LogOut">Déconnexion</a>
}
else
{
    <a asp-controller="Account" asp-action="LogIn">Connexion</a>
    <a asp-controller="Account" asp-action="SignIn">Inscription</a>
})

<script src="~/js/chaussure.js" asp-append-version="true"></script>
<script src="~/js/site.js" asp-append-version="true"></script>